#urlbar {
	max-width: 90% !important;
	margin: 0 5% !important;

	--urlbar-height: 36px !important;
	--urlbar-toolbar-height: 40px !important;
}

:root[uidensity="compact"] #urlbar {
	--urlbar-height: 30px !important;
	--urlbar-toolbar-height: 34px !important;
}


.urlbar-icon,
.urlbar-page-action {
	border-radius: 6px;
}


#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse;
}


#toolbar-menubar,
#TabsToolbar > :not(.titlebar-buttonbox-container):not(.private-browsing-indicator) {
	visibility: collapse !important;
}

:root[tabsintitlebar="true"] #nav-bar {
	margin-right: 100px !important;

	background: none !important;
}

#titlebar {
	padding: 0 !important;
	-moz-appearance: none !important;
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	height: 40px !important;
	display: flex !important;
	align-items: center;
	justify-content: end;
}



menupopup,
popup,
popup > menu > menupopup,
menupopup > menu > menupopup {
	border: 0 !important;
}



toolbar#nav-bar {
	padding: var(--bf-navbar-padding) !important;
	
	/* Remove horizontal line on navbar */
	box-shadow: none !important;
	border-top: none !important;
}


#TabsToolbar {
	padding-top: 12px !important;
}