:root {	
	--bct-tab-toolbar-bg: #000000AA;
	
	
	--bct-bg: #00000088;


	--bct-urlbar-bg: var(--bct-bg:);
	--bct-popups-bg: var(--bct-bg:);
}


:root[lwtheme] {
	--bct-tab-toolbar-bg: #ffffffaa;
	
	
	--bct-bg: #ffffff66;
	
	
	--bct-urlbar-bg: var(--bct-bg);
	--bct-popups-bg: #ffffffaa;
}

